<!DOCTYPE html>
<html>
    <head>
        <title>Kubi Login</title>
        <link rel="stylesheet" href="./login.css">
    </head>
    <body>
        <h1>Kubi Login</h1>
        <img src="./LOGO_S_ROUNDED.png">
        <form id="form-login">
            <input type="text" id ="username" placeholder="Username" />
            <input type="password" id="password" placeholder="Password" />
            <input type="submit" value="Login" />
        </form>
    </body>
    <script src="./login.js"></script>
</html>