body {
    padding-top: 60px;
    font-family: 'Courier New', monospace;
    background-color: 	#101010;
    color: white;
}

h1 {
    margin: auto;
    text-align: center;
}

h2 {
    margin: auto;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}

select {
    /* style element */
    width: 250px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;

    /* center element */
    display: block;
    margin: 0 auto;
}

input[type=submit] {
    /* Center */
    display: block;
    margin: 0 auto;

    /* Style */
    margin-top: 20px;
    width: 250px;
    height: 30px;
    font-family: inherit;
    border: none;
    border-radius: 5px;

}

/* Loader */

.loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid rgb(86, 231, 86);
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text-success {
    color: green;
    text-align: center;
}

.text-failed {
    color: red;
    text-align: center;
}